<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Users <=> Address <=> Groups </title>
  </head>
  <body>
    <center>
    <h1>WELCOME</h1>
    <h2>Please choose your options</h2>
    <a href="/users"><button type="Submit" name="Users">Users</button></a>
    <a href="/addresses"><button type="Submit" name="Addresses">Addresses</button></a>
    <a href="/groups"><button type="Submit" name="groups">Groups</button></a>
    <center>
  </body>
</html>
