<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>One to one</title>
  </head>
  <body>
    <h1><%= welcome %></h1>
    <a href="/users">Users</a>
    <a href="/profiles">Profile</a>
    <a href="/contacts">Contact Promise</a>
    <a href="/addresses">Addresses Promise</a>
  </body>
</html>
